body, html {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: black;
  font-family:'Times New Roman', Times, serif;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    width: 70%;
    text-align: center;
    opacity: 0.4;
    border-radius: 25px;
}
header {
    text-decoration:solid;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 9rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    width: 15%;
  }
  
button {
    position: relative;
    border:#E87E3B;
    background-color: white;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;
    padding: 23px 33px;
    //border: 3px solid transparent;
    color:  #E87E3B;
    height: 8vh;
    text-align: center;
    padding: 0;
  }
  button:active {
    transform: translateY(3px);
  }
  button::after, button::before {
    border-radius: 3px;
  }